extends layout

block content
    header
        nav
            ul
                a(href='/gabs')
                    li Gabble
                a(href='/users')
                    li Log in
                a(href='/users/signup')
                    li Sign up
    section.formWrapper
        h1 Sign-up
        section.form
            form(method='post')
                label(for='username') Username
                input(type='text', name='username' id='username' placeholder='Minimum 4 characters alphanumeric')
                label(for='displayName') Display Name
                input(type='text', name='displayName' id='displayName')
                label(for='password') Password
                input(type='password', name='password' id='password' placeholder='Minimum 6 characters')
                label(for='confirmPassword') Confirm Password
                input(type='password', name='confirmPassword' id='confirmPassword')
                input.button#signup(type='submit')
                a.signup(href='/users') Sign-in
        if errors
            section.errors
                ul
                    each val in errors
                        li= val.msg
        if !user
            section.errors
                ul
                    li No user found. Please create a new account