extends layout

block content
    // Navigation Section
    nav.blue-grey.darken-1.z-depth-3(role='navigation')
        div.nav-wrapper.container
            a.brand-logo#logo-container(href='/gabble')
                span.logo.grey-text.text-lighten-2= title
            ul.right.hide-on-med-and-down
                if user != 'Guest'
                    li
                        a(href='/gabble/newgab') Gab
                    li
                        a(href='#') #{user}
                    li
                        a(href='/users/signout') Sign out
                else
                    li
                        a(href='#') Sign up
                    li
                        a(href='/users') Sign in

            ul.side-nav#nav-mobile(style='transform: translateX(-100%);')
                if user != 'Guest'
                    li
                        a(href='/gabble/newgab') Gab
                    li
                        a(href='#') #{user}
                    li
                        a(href='/users/signout') Sign out
                else
                    li
                        a(href='#') Sign up
                    li
                        a(href='/users') Sign in

            a.button-collapse(href='#', data-activates='nav-mobile')
                i.material-icons menu
    // Sign up form
    div.container
        div.row
            h3.section-header.center Sign Up
            div.col.l10.offset-l1.m12.s12
                div.row
                    form.col.s12(method='post')
                        div.row
                            div.input-field.col.l6.m6.s12
                                input.validate#username(placeholder='Minimum 4 characters' type='text' name='username')
                                label(for='username') Username
                            div.input-field.col.l6.m6.s12
                                input.validate#displayName(placeholder='Minimum 4 characters' type='text' name='displayName')
                                label(for='displayName') Display Name
                        div.row
                            div.input-field.col.l6.m6.s12
                                input.validate#password(type='password' placeholder='Minimum 6 characters' name='password')
                                label(for='password') Password
                            div.input-field.col.l6.m6.s12
                                input.validate#confirmPassword(type='password' name='confirmPassword')
                                label(for='confirmPassword') Confirm Password
                        div.row
                            button.btn.waves-effect.waves-light.right(type='submit' name='action') Submit
                                i.material-icons.right send
            div.row
                div.col.s12.m6.offset-m3
                    if errors
                        div.card-panel.red.lighten-1.white-text.center.center-align
                            ul
                                each val in errors
                                    li= val.msg